@import 'variables';

footer{
    background-color: $color-dark;
    color: $color-light;
    text-align: center;
    width: 100%;

    p.assignment{
        a{ 
            color: $color-main;
            padding-left: .25rem; 
        }
    }

}