@import 'variables';

footer{
    background-color: $color-dark;
    color: $color-light;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;

    p.assignment{
        a{ 
            color: $color-main;
            padding-left: .5rem; 
        }
    }

}